[Desktop Entry]
Name=五子棋
Name[zh_CN]=五子棋
Name[en_US]=Chess
Exec=/etc/cgame2
Icon=/usr/share/applications/cgame2.svg
Comment=c语言小游戏
Terminal=true
Type=Application

