Package: cgame2
Version: 2.0-4
Architecture: amd64
Maintainer: Lanjie You <ylj18926385312@163.com>
Installed-Size: 63
Depends: gcc, libc6
Section: games
Priority: optional
Homepage: https://github.com/Youlanjie/cgame2
Description: 这是一个c语言编写的实战游戏。 \
 游戏是五子棋。它只有TUI字符界面，可能没有 \
 那么美观，但是挺好玩的。此程序已开源，你 \
 可以在https://github.com/Youlanjie/cgame2 \
 上找到它
