[Desktop Entry]
Comment=c语言小游戏
Exec=/opt/cgame2/cgame2
Icon=/usr/share/icons/cgame2.svg
Name=五子棋
Terminal=true
Type=Application
X-Deepin-Vendor=user-custom
