Package: cgame2
Source: cgame2
Version: 2.0.2
Section: games
Architecture: all
Installed-Size: 4MB
Pre-Depends: gcc
Priority: optional
Maintainer: Lanjie You <ylj18926385312@163.com>
Homepage: https://github.com/Youlanjie/cgame2
Vcs-Browser: https://github.com/Youlanjie/cgame2.git
Vcs-Git: https://github.com/Youlanjie/cgame2.git
Description: 这是一个c语言编写的实战游戏。
 游戏是五子棋。它只有TUI字符界面，可能没有
 那么美观，但是挺好玩的。此程序已开源，你
 可以在https://github.com/Youlanjie/cgame2
 上找到它
